* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.layout {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #217955, #176973);
}
.calculator {
  position: absolute;
  max-width: 350px;
  width: 90%;
  background-color: #171717;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 0px 9px 2px rgb(89, 83, 85);
}
.result_place {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  /* direction: rtl; */
}
.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(repeat(4, 1fr));
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "ac de dott dev"
    "seven eight nine multi"
    "four five six subb"
    "one two three sum"
    "ans zeroo . .";
  gap: 20px;
}
span {
  padding: 15px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  background-color: #171717;
  box-shadow: 10px 10px 10px black;
  transition: all 0.3s;
}
span:hover {
  transform: scale(1.015);
  box-shadow: 10px 10px 10px rgb(33, 32, 32);
}
.ac {
  grid-area: ac;
}
.de {
  grid-area: de;
}
.dot {
  grid-area: dott;
}
.dev {
  grid-area: dev;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.multi {
  grid-area: multi;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.sub {
  grid-area: subb;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.sum {
  grid-area: sum;
}
.ans {
  grid-area: ans;
}
.zero {
  grid-area: zeroo;
}
.equal {
  position: absolute;
  bottom: 20px;
  width: calc(88.76px + 20px);
  right: 20px;
}
